<section class="ed-item ed-container animated fadeIn fast">
  <div class="ed-item l-60 m-offset-20 card-column">

    <div class="viewSujeto">
      <div class="viewSujeto__pic">
        <img class="viewSujeto__picFluid" [src]="sujeto.img" [alt]="sujeto.nombre">
        <span> {{ sujeto.nombre | uppercase }} <small>{{ sujeto.aparicion | date:'y' }}</small> </span>
      </div>
      <div class="viewSujeto__info">
        <div class="viewSujeto__bio">
          <p class="">{{ sujeto.bio }}</p>
        </div>
        <div class="viewSujeto__start">
          <ul class="">
            <li>
              <figure class="viewSujeto__marca">
                <img *ngIf="sujeto.casa == 'Marvel'" class="img-logo" src="assets/images/marvel-logo.png" alt="marvel">
                <img *ngIf="sujeto.casa == 'DC'" class="img-logo" src="assets/images/dc-logo.png" alt="DC">
                <!-- <caption> https://www.udemy.com/angular-2-fernando-herrera/learn/v4/t/lecture/6428334?start=0 </caption> -->
              </figure>
            </li>
            <li><a [routerLink]="['/heroes']" class="btn">Volver</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="ed-item">
  </div>
</section>