<article class="navMain">
  <ul class="ed-menu l-horizontal ">
    <li>
      <a routerLinkActive="btn-on" [routerLink]="['home']">Home</a>
    </li>
    <li>
      <a routerLinkActive="btn-on" [routerLink]="['about']">About</a>
    </li>
    <li>
      <a routerLinkActive="btn-on" [routerLink]="['heroes']">heroes</a>
    </li>
    <li>
      <a routerLinkActive="btn-on" [routerLink]="['none']">Item</a>
    </li>
    <li>
      <a routerLinkActive="btn-on" [routerLink]="['none']">Item</a>
    </li>
  </ul>
</article>