<section class="ed-item ed-container l-100">
  <div class="ed-item m-70 m-offset-15">
    <h2>DOM seguro</h2>
  </div>
  <div class="ed-item m-70 m-offset-15">
    
  </div>
</section>

<section class="ed-item ed-container l-100">
  <div class="ed-item m-70 m-offset-15">
    <h2>Pipes
    </h2>
  </div>

  <div class="ed-item l-60 m-offset-20 card-column">
    <table class="teiblView">
      <thead>
        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Producto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{ nombre }}</th>
          <td> uppercase </td>
          <td>{{ nombre | uppercase }}</td>
        </tr>
        <tr>
          <th>{{ nombre }}</th>
          <td> lowercase </td>
          <td>{{ nombre | lowercase }}</td>
        </tr>
        <tr>
          <th>{{ nombre }}</th>
          <td> slice:3 </td>
          <td>{{ nombre | slice:3 }}</td>
        </tr>
        <tr>
          <th>{{ nombre }}</th>
          <td> slice:0:3 </td>
          <td>{{ nombre | slice:0:3 }}</td>
        </tr>
        <tr>
          <th>{{ secuencia }}</th>
          <td> slice:1:5 </td>
          <td>{{ secuencia | slice:1:5 }}</td>
        </tr>
        <tr>
          <th>{{ secuencia }}</th>
          <td> slice:1:5 </td>
          <td>
            <ul>
              <li *ngFor='let item of secuencia | slice:5:11'> {{ item }} </li>
            </ul>
          </td>
        </tr>
        <tr>
          <th>{{ fi }}</th>
          <td> number </td>
          <td>{{ fi | number }}</td>
        </tr>
        <tr>
          <th>{{ chach }}</th>
          <td> percent </td>
          <td>{{ chach | percent:'2.1' }}</td>
        </tr>
        <tr>
          <th>{{ salario }}</th>
          <td> currency </td>
          <td>{{ salario | currency:'EUR':true:'4.0-0' }}</td>
        </tr>
        <tr>
          <th>{{ jotason.cadena }}</th>
          <td> Json </td>
          <td>
          <pre> {{ jotason | json }} </pre>
          </td>
        </tr>
        <tr>
          <th>{{ valorDePromesa }}</th>
          <td> async </td>
          <td>
            <pre> {{ valorDePromesa | async }} </pre>
          </td>
        </tr>
        <tr>
          <th>{{ horario }}</th>
          <td> date </td>
          <td>{{ horario | date:'MMMM - dd' }}</td>
        </tr>
        <tr>
          <th>{{ pipersonalizado1 }}</th>
          <td> Capitaleishon </td>
          <td>{{ pipersonalizado1 | capitalizado }}</td>
        </tr>
        <tr>
          <th>{{ pipersonalizado1 }}</th>
          <td> Capitaleishon </td>
          <td>{{ pipersonalizado1 | capitalizado:false }}</td>
        </tr>
        <tr>
          <th></th>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="ed-item">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione vero corporis perferendis, suscipit accusantium eum quo similique illum officia! Minus est laboriosam nostrum, eligendi corporis odit veniam fuga ea animi.</p>
  </div>
</section>